
body{

  }

.square {
  width: 5em;
  height: 5em;
}

.cell-image {
  position: absolute;
  width: 5em;
  height: 5em;


}

.column {
 /* position: absolute;*/
  display:inline-block;
  margin:-2px;
}

#board{
  padding-top: 7em;
  position: absolute;
  min-width: 100em;
  min-height: 150em;

}

.token{
  width: 5em;
  height:5em;
  border-radius: 70%;
  position: absolute;
  z-index: -1;
}



